.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid red;
}
/* ------------------------header-------------------- */
.header{
     background-color: line;
}
.header__title{
    font-size: 24px;
    line-height: 30px;
    font-family: inter;
}
.header__img{
    width: 55px;
    height: 55px;
}
.header__list{
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
}
.header__item{
    margin: 1px 20px;
    font-family: inter;
    font-size: 16px;
}
.header__btn{
    background-color: rgba(17, 30, 82, 1);
    width: 140px;
    height: 45px;
    font-size: 16px;
    font-family: inter;
    line-height: 24px;
    color: white;
    border-radius: 4px;
    border: none;
    transition: all 1.2s;
}
.header__btn:hover{
    color: rgba(17, 30, 82, 1);
    background-color: white;
    border: 2px solid rgba(17, 30, 82, 1);
    transition: all 1.2s;
}
.header__lists{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__pic{
    width: 500px;
    height: 400px;
}
.header__subtitle{
    font-family: inter;
    font-size: 70px;
    font-weight: 400;
}
.header__text{
    font-size: 20px;
    font-family: inter;
}
.header__button{
    width: 280px;
    height: 45px;
    font-size: 16px;
    background-color: rgba(255, 201, 71, 1);
    border: none;
    border-radius: 7px;
    color: white;
    transition: 1.1s;
}
.header__button:active{
    background-color: white;
    border: 2px solid rgba(255, 201, 71, 1);
    color: rgba(255, 201, 71, 1);
    transition: 0.4s;
}
/* ---------------------hero---------------- */
.hero__title{
    text-align: center;
    font-size: 55px;
    font-family: inter;
    font-weight: 500;
    line-height: 72px;
    color: rgba(18, 20, 29, 1);
}
.hero__list{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.hero__item{
    width: 300px;
    height: 220px;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px 0;
}
.hero__subtitle{
    font-size: 24px;
    line-height: 26px;
    font-family: inter;
}
.hero__text{
    width: 300px;
    height: 84px;
       
}
.box__title{
    font-family: Inter;
    font-size: 56px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;
    width: 637px;
    height: 144px;
    top: 1626px;
    left: 312px;
}
.box__text{
    font-size: 18px;
    font-family: inter;
    line-height: 30px;
}
/* --------------------main-------------------------- */
.main__title{
    font-family: Inter;
    font-size: 50px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;
    width: 856px;
    height: 144px;
    top: 72px;
    left: 312px;
}
.main__list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.main__item{
    margin: 1px 10px;
}
.main__subtitle{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    width: 300px;
}
.main__text{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
/* -----------------------footer-------------- */
.footer{
    background-color: black;

}
.footer__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__item{
    margin: 10px 20px;
}
.footer__title{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    width: 200px;
    color: white;
}
.footer__text{
    font-family: Roboto;
    font-size: 16px;
    color: white;
    font-weight: 400;
    line-height: 24px;
    width: 250px;   
}
.footer__info{
    font-family: Roboto;
    font-size: 16px;
    color: white;
    font-weight: 400;
    line-height: 24px;
    width: 250px;  
    /* margin-top: 0px; */
}
/* -----------------section-------------- */
.section__title{
    font-family: Inter;
    width: 700px;
    font-size: 50px;
    font-weight: 500;
    line-height: 72px;
    color: rgba(18, 20, 29, 1);
}
.section__text{
    color: red;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    margin-right: 40px;    
}
.section-box{
    background-color: rgba(238, 239, 241, 1);
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text{
    margin: 0 5px;
    width: 450px;
    height: 40px;
}
.section__btn{
    width: 130px;
    height: 40px;
    color: white;
    background-color: rgba(47, 128, 237, 1);
    border: none;
    border-radius: 2px;
    font-size: 11px;
    transition: all 0.2s;
}
.section__btn:active{
    border: 2px solid rgba(47, 128, 237, 1);
    background-color: whitesmoke;
    color: rgba(47, 128, 237, 1);
    transition: all 0.2s;
}
/* ------------------link------------ */
.links{
    text-decoration: none;
    background: linear-gradient(94.25deg, #2B59FF 0%, #BB2BFF 100%);
    width: 900px;
    height: 150px; 
    margin:20px auto;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link__title{
    color: white;
    width: 500px;
}
.link__btn{
    background-color: #9448d3;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 200px;
    height: 50px;
}
.btn__img{
    width: 30px;
    height: 30px;
}
.link__title{
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;   
}
/* --------------news--------------------- */
.news__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__item{
    margin: 7px 10px;
}
.news__title{
    font-family: Inter;
    font-size: 50px;
    width: 600px;
    font-weight: 500;
    line-height: 72px;
    margin: 2px 10px;
}
.news__img{
    width: 300px;
    height: 250px;
}
.news__lists{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news__items{
    text-align: center;
}
.news__info{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;  
}
.news__link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    margin: 5px 7px;
}